/* !Libreria personale Riccardo-Basso */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8rem + 1.3vw);
}

:root {
    --font-size-s: 0.6rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3.5rem;
    --font-size-xxxl: 5rem;
    --card-space: 2px;

    --color-card: #ec407a;
    --grey: #969696;
    --light-grey: #cdcdcd;
    --blue: #4285f4;
    --light-blue: #b4d0e7;
    --dark-blue: #00335d;
    --orange: #fabb05;
    --light-orange: rgb(244, 213, 141);
    --dark-red:  rgb(107, 0, 0);

}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

h1{
    font-size: calc(1.6rem + 1.3vw);
}

h2{
    font-size: calc(1rem + 1.3vw);
}

h3{
    font-size: calc(0.8rem + 1.3vw);
}

.d-none{
    display: none;
}

/**************************** Flex *******************************/
.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* direction row */
.space-between-X{
    display: flex;
    justify-content: space-between;
}

/* direction column */
.column.space-between-X{
    display: flex;
    align-content: space-between;
}

/**************************** Cards *******************************/
.card {
    width: 100%;
    margin: 50px auto;

    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 50px;
    overflow: hidden;
}

.card-header {
    background-color: var(--blue);
    color: white;
}

.card-header,
.card-body {
    padding: 30px;
}

.card-subtitles {
    background-color: var(--light-grey);
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 50px;

    color: rgb(87, 87, 87);
    font-weight: 600;
    font-size: var(--font-size-m);
    border: 1px solid var(--grey);


    display: inline-block;
}

/**************************************************************************/
/** Media query larghezza card */
@media screen and (min-width: 576px) {
    .card {
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 600px;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 775px;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: 937px;
    }
}

/*********************************** form ***************************************/
.form-control{
    border-radius: 20px;
    border: 1px solid var(--grey);
    padding: 5px;
    min-height: 50px;
    min-width: 200px;
    text-align: center;
    font-size: calc(0.5rem + 1.3vw);
    
}

.form-label{
    /* border: 1px solid var(--grey); */
    border-radius: 20px;
    padding: 5px;

}

.form-control:focus-visible{
    outline: none;
    border: 2px solid var(--light-blue);
}